<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>HTML Table</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<div id="wrapper">
			<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">Full Name</th>
				</tr>
			</thead>
			<tbody>
				{% for person in users %}
					<tr>
						<td>{{ person['first_name'] }}</td>
						<td>{{ person['last_name'] }}</td>
						<td>{{ person['first_name'] }} {{ person['last_name'] }}</td>
					</tr>
				{% endfor %}
			</tbody>
			</table>
		</div>
	</body>
</html>